{% extends "base.html" %} 
{% load static %} 
{% load %} 
{% block content %}
<div class="flex flex-col items-center px-5 sm:px-24 py-8 bg-[#E6DACE]">
  <div class="w-full sm:w-[750px]">
    <div class="w-full my-20">
      {% include 'title.html' %}
      <p class="w-full break-all font-light text-lg mt-12 text-justify sm:text-center px-8 tracking-wide">
        Nice to meet you, if you want to contact me, please fill out the form below and I'll get back to you as soon as possible.
      </p>
    </div>
  <form class="w-full sm:w-[724px] border-b border-gray-900/10 pb-12" method="post">{% csrf_token %}
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-3">
        <label
          htmlFor="first-name"
          class="block text-sm font-black leading-6 text-gray-900"
        >
          First name
        </label>
        <div class="mt-2">
          <input
            type="text"
            name="first-name"
            id="first-name"
            autocomplete="given-name"
            default_value="{{ default_value.first_name }}"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2"
          />
        </div>
      </div>

      <div class="sm:col-span-3">
        <label
          htmlFor="last-name"
          class="block text-sm font-black leading-6 text-gray-900"
        >
          Last name
        </label>
        <div class="mt-2">
          <input
            type="text"
            name="last-name"
            id="last-name"
            autocomplete="family-name"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2"
          />
        </div>
      </div>

      <div class="col-span-full">
        <label
          htmlFor="email"
          class="block text-sm font-black leading-6 text-gray-900"
        >
          Email address
        </label>
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2"
          />
        </div>
      </div>

      <div class="col-span-full">
        <label
          htmlFor="subject"
          class="block text-sm font-black leading-6 text-gray-900"
        >
          Subject
        </label>
        <div class="mt-2">
          <input
            type="text"
            name="subject"
            id="subject"
            autocomplete="subject"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2"
          />
        </div>
      </div>

      <div class="col-span-full">
        <label
          htmlFor="message"
          class="block text-sm font-black leading-6 text-gray-900"
        >
          message
        </label>
        <div class="mt-2">
          <textarea
            id="message"
            name="message"
            rows="3"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2"
          ></textarea>
        </div>
        <p class="mt-3 text-sm leading-6 text-gray-600">
          Let me know what you want to say here
        </p>
      </div>
    </div>
    <div class="flex items-center justify-start mt-4">
      <button
        type="submit"
        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Send
      </button>
    </div>
  </form>
  </div>
</div>

{% endblock content %}
