{% load cart_template_tags %}

<div
  class="flex items-center justify-between px-24 py-14 relative sm:sticky top-0 z-10 bg-white"
>
  <div
    class="w-full flex justify-center sm:justify-start items-center flex-col sm:flex-row"
  >
    <div class="flex items-center justify-center">
      <i class="fa-solid {% if request.user.userprofile.major == 'Web Developer' %} fa-code {% else %} fa-palette {% endif %} text-primary text-3xl mr-2"></i>
      <a href="/v1/{{ profile }}">
        <h1 class="font-black text-[30px] my-2 tracking-widest uppercase">
          Duong
        </h1>
      </a>
    </div>
    <span class="font-bold uppercase mx-2 hidden sm:flex">
      <i class="fa-solid fa-chevron-right"></i>
    </span>
    <h1 class="text-xl font-light uppercase">
      {% if request.path == "/v1/"|add:profile|add:"/" %}  {{userprofile.major}} {% else %}
      {{ title }}{% endif %}
    </h1>
  </div>
  <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
    <button
      type="button"
      class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
      aria-controls="mobile-menu"
      aria-expanded="false"
    >
      <span class="absolute -inset-0.5"></span>
      <span class="sr-only">Open main menu</span>
      <svg
        class="block h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        strokeWidth="1.5"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
      <svg
        class="hidden h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        strokeWidth="1.5"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
  <div
    class="justify-start items-start sm:items-center navbar-mobile-display sm:flex navbar-mobile"
    ref="refTooltipNav"
  >
    <div class="navbar-item mx-2">
      <a
        href="{% url 'v1:home' user_name=profile %}"
        class="text-xl text-nowrap font-light uppercase {% if request.path == '/' %} text-primary {% endif %}"
      >
        About me
      </a>
    </div>
    <div class="navbar-item mx-2">
      <a
        href="{% url 'v1:resume' user_name=profile %}"
        class="text-xl text-nowrap font-light uppercase {% if 'resume' in request.path %} text-primary {% endif %}"
      >
        Resume
      </a>
    </div>
    <div class="navbar-item mx-2">
      <a
        href="{% url 'v1:projects' user_name=profile %}"
        class="text-xl text-nowrap font-light uppercase {% if 'project' in request.path %} text-primary {% endif %}"
      >
        Projects
      </a>
    </div>
    <div class="navbar-item mx-2">
      <a
        href="{% url 'v1:contact' user_name=profile %}"
        class="text-xl text-nowrap font-light uppercase {% if 'contact' in request.path %} text-primary {% endif %}"
      >
        Contacts
      </a>
    </div>
  </div>
</div>
